@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}
